.Form {
  width: 900px;
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 20px lightgrey;

  &-conditionContent {
    max-width: 100%;
    padding: 20px 40px 80px;
    border-top: 1px solid lightgray;
    position: relative;

    &--status {
      background-color: #f3fff1;
    }
    &--type {
      background-color: #f1f8ff;
    }
    &--ages {
      background-color: #fffaf1;
    }
  }

  &-addCondition {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 860px;
    height: 100px;
    margin: 20px;
    border-radius: 8px;

    & > span {
      width: 330px;
    }
  }
  &-button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;

    &--green {
      border: 2px solid #7ac17a;
      color: #7ac17a;
      font-weight: bold;
      transition: .2s;
      
      &:hover {
        box-shadow: 0px 0px 8px #7ac17a;
      }
    }
    &--add {
      color: #519251;
      transition: .2s;

      &:hover {
        box-shadow: 0px 0px 8px #c4c5c4;
      }
    }
  }
  &-test {
    margin-left: 20px;
  }

  &-testContent {
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.5);
  }
}
